# ==========================================
# Ignorar Ambientes Virtuais do Python
# ==========================================
venv/
env/
.env

# ==========================================
# Ignorar Ficheiros Temporários do Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Ignorar Ficheiros Gerados pela Telemetria
# ==========================================
log_enduro_baja.csv
*.csv
*.log

# ==========================================
# Ignorar Configurações Locais de Editores
# ==========================================
.vscode/
.idea/

# ==========================================
# Ignorar Ficheiros de Sistema Operativo
# ==========================================
.DS_Store
Thumbs.db